/logs
npm-debug.log*
yarn-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
.grunt
.lock-wscript
build/Release
node_modules/
jspm_packages/
.npm
.eslintcache
.node_repl_history
.env
.next
.nuxt
.vuepress/dist
.serverless
.idea
.vscode
sw.*
yarn.lock
/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/assets/**
/dist
!.eslintrc.js
