@import "variables";

.cursor-pointer {
  cursor: pointer;
}
.footer-full-content {
  min-height: 100vh;
}

.vs__search {
  padding: 5px 7px;
  &::placeholder { color: $color-text-04; }
}
.hover-size-24 {
  transition: font-size 0.3s;
}
.hover-size-24:hover {
  font-size: 24px;
  color: $pink
}
.multiselect__tag {
  font-size: 16px;
}
